h1 {
    text-align: center;
    max-height: 100%;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url();
    background-position: center;
}

main {
    max-width: 1100px;
    border-radius: 2em;

}


button:hover {
    transform: scale(.95);
    cursor: pointer;
}

nav {
    border-radius: 1em;
}

.sections {
    display: flex;
    height: 500px;
}

#about {
    padding: 2em;
}

#details {
    padding: 0 2em;
}

img {
    height: 15em;
    width: auto;
    border-radius: 10em;
}

#projects {
    width: 100%;
    gap: 1em;
    padding: 2em;
}

#skills {
    display: flex;
    justify-content: center;
}

#skills ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
}


#button1, #button2, #button3 {
    max-width: 100%;
} 

#button3 {
    display: flex;
    align-items: center;
}

button {
    display: flex;
    border: none;
    background-color: rgb(104, 184, 230);
    color: white;
    padding: 1em;
    border-collapse: separate; 
    border-radius: 20px;
}