h1 {
    text-align: center;
    max-height: 100%
}

main {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.sections {
    display: flex;
}

#about {

}

img {
    height: 15em;
    width: auto;
    border-radius: 10em;
}

#projects {
    max-width: 33.33%;
}