h1 {
    text-align: center;
    max-height: 100%
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 80%;
    padding: 2em;
    background-color: lightgray;
}

.sections {
    display: flex;
}

#about {
    padding: 2em;
}

#details {
    padding: 0 2em;
}

img {
    height: 15em;
    width: auto;
    border-radius: 10em;
}

#projects {
    width: 100%;
    gap: 1em;
}

#skills ul {
    display: flex;
    list-style-type: none;
    max-width: 33%;
}